name: example
description: A new Flutter project.

version: 1.0.0+1

environment:
  sdk: ">=2.0.0-dev.68.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
#  flutter_verification_code_input:
#    git:
#      url: git://github.com/awaik/flutter_verification_code.git
  cupertino_icons: ^0.1.3

  flutter_verification_code:
    path: ../


dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
